<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Períodos Letivos</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_semester_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Data do Início</th>
      <th>Data do Fim</th>
      <th width="80">Ações</th>
    </tr>

  <% @semesters.each do |semester| %>
    <tr>
      <td><%= semester.name %></td>
      <td><%= format_date_br semester.start_date %></td>
      <td><%= format_date_br semester.end_date %></td>
      <td>
        <%= link_to edit_semester_path(semester), title: 'Editar' do %><i class="icon-edit"></i><% end %>
        <%= link_to semester, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>