<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Detalhes</a>
    <ul class="nav">
      <li><%= link_to 'Voltar', confirmations_path%></li>
      <li><%= link_to 'Editar Veículo',confirmation_edit_travel_path(@travel.request_id) %></li>
      <li><%= link_to 'Add Motorista',add_driver_path(@travel.id)%></li>
    </ul>
  </div>
</div>

<p id="notice"><%= notice %></p>
<div class='espacamento'>
  <p>
    <b>Nome:</b>
    <%= @travel.request.confirmations.first.user.name%>
  </p>

  <p>
    <b>Objetivo:</b>
    <%= @travel.request.goal%>
  </p>
  <p>
    <b>Justificativa:</b>
    <%= @travel.request.justification%>
  </p>

  <p>
    <b>Veiculo:</b>
    <%= @travel.vehicle.vehicle_type%>
  </p>
</div>