<%= form_for(@function) do |f| %>
  <% if @function.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @function.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="espacamento">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: 'autofocus' %>
  </div>
  <div class="field">
    <%= f.label :level %>
    <%= f.select :level, [['Nível 1', 1],['Nível 2', 2],['Nível 3', 3],['Nível 4', 4]] %>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>
