<h1>Listing addresses</h1>

<table>
  <tr>
    <th>Country</th>
    <th>State</th>
    <th>City</th>
    <th>District</th>
    <th>Street</th>
    <th>Numberzip code</th>
    <th>Complement</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.country %></td>
    <td><%= address.state %></td>
    <td><%= address.city %></td>
    <td><%= address.district %></td>
    <td><%= address.street %></td>
    <td><%= address.numberzip_code %></td>
    <td><%= address.complement %></td>
    <td><%= address.user %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_address_path %>
