<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Diárias</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_daily_path %></li>
    </ul>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Diária</th>
    <th width="80">Ações</th>
  </tr>

<% @dailies.each do |daily| %>
  <tr>
    <td><%= daily.daily %></td>
    <td>
      <%= link_to edit_daily_path(daily), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to daily, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

